@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root
{
    --background-color: #424449;
    --content-color: #313338;
    --element-color: #202227;
    --text-color: lightgray;
    --link-color: #2f8fff;
    --accent-color: #e3700b; /* 1e7ffe */
    --accent-color-hover: #d2600a; /* same as before but darker by #111111 */
    --accent-color-pressed: #c15009; /* same as before but darker by #111111 */
}

.centered-all
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body
{
    background-color: var(--background-color);
    font-family: 'Open Sans';
    color: var(--text-color);
}

a, a:visited
{
    text-decoration: none;
    color: var(--link-color)
}

.form-label
{
    font-weight: bold;
}

.form-control, .form-control:focus
{
    background-color: var(--element-color) !important;
    color: var(--text-color) !important;
    border: 0 !important;
}

.btn-primary
{
    background-color: var(--accent-color) !important;
    border: 0 !important;
}

.btn-primary:hover
{
    background-color: var(--accent-color-hover) !important;
}

.btn-primary:active, .btn-primary:visited
{
    background-color: var(--accent-color-pressed) !important;
}